{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        @page {
            size: a4 portrait;

            @frame header_frame {
                /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt;
                width: 512pt;
                top: 50pt;
                height: 40pt;
            }

            @frame content_frame {
                /* Content Frame */
                left: 50pt;
                width: 512pt;
                top: 90pt;
                height: 632pt;
            }

            @frame footer_frame {
                /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt;
                width: 512pt;
                top: 772pt;
                height: 20pt;
            }
        }
    </style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <img src="/media/atc-logo.png" alt="Logo" height="60" width="170"> 
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">(c) - page <pdf:pagenumber>
            of <pdf:pagecount>
    </div>
    <h2>Solar Feasibility Site Survey</h2>
    <!-- HTML Content -->
    <div>
        <table>
            <thead>
                <tr>
                    <td>Site ID</td>
                    <td>Site Name</td>
                    <td>Region</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sitevisit.site.site_id}}</td>
                    <td>{{sitevisit.site.site_name}}</td>
                    <td>{{sitevisit.site.site_region}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Time</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sitevisit.visited|date:"d/m/Y" }}</td>
                    <td>{{ sitevisit.visited|date:"h:i A" }}</td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <hr>
    <div>
        <div>
            <h3>Site Coordinate</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Latitude</td>
                    <td>Longitude</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sitevisit.site.site_latitude}}</td>
                    <td>{{sitevisit.site.site_longitude}}</td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <hr>
    <div>
        <div>
            <b>Contractor:</b> <u>{{sitevisit.contract.contractor}}</u>
        </div>
        <div>
            <b>Names of Contractor Rep:</b> <u>{{sitevisit.contract.contractor_rep}}</u>
        </div>
        <div>
            <b>Contact of Contractor Rep:</b> <u>{{sitevisit.contract.contact_contractor_rep}}</u>
        </div>
    </div><br>
    <hr>
    <div>
        <div>
            <h3>1. Site Information</h3>
        </div>
        <div>
            <b>1.1 DC System on site?</b>
            {% if sitevisit.details.dc_system_on_site == True %}
            Yes
            {% else %}
            No
            {% endif %}
        </div>
        <div>
            <b>1.2 DC System brand and size</b>
            {{sitevisit.details.dc_system_brand}} , {{sitevisit.details.dc_system_size}}
        </div>
        <div>
            <b>1.3 Is space available inside the DC Cabinet for Solar MPPT Controller to be installed at the power
                compartment section</b>
            {%if sitevisit.details.space_avail_in_dc_cabinet == True %}
            Availavle
            {% else %}
            Un-Availavle
            {% endif %}
        </div>
        <div>
            <b>1.4 Measure and record the available space for the MPPT controller in the DC cabinet</b>
            <div>
                Length: {{sitevisit.details.length_dc_cabinet}} meter
            </div>
            <div>
                Height: {{sitevisit.details.height_dc_cabinet}} meter
            </div>
        </div>
        <div>
            <b>1.5 Is there any tall structure, tree or building higher than the site fence that can cause possible
                shading?</b>
            {% if sitevisit.details.tall_structure == True %}
            Yes
            {% else %}
            No
            {% endif %}
        </div>
        <div>
            <b>1.6 If Yes indicate or name the structure type(s)</b>
            {{sitevisit.details.tall_structure_name}}
        </div>
        <div>
            <b>1.7 If yes, specify the height and the distance of the structure from the site fence </b>
            <div>
                <b>Height of structure AGL </b>
                {{sitevisit.details.tall_structure_height}}
            </div>
            <div>
                <b>Distance from fence </b>
                {{sitevisit.details.tall_structure_distance_fence}}
            </div>
        </div>
        <div>
            <b>1.8 Record distance from Shed leg on which DB will be fix to the DC Cabinet in meters</b>
            {{sitevisit.details.distance_shed_dc_cabinate}}
        </div>
        <div>
            <b>Any comment:</b>
            <div>
                {{sitevisit.details.comment}}
            </div>
        </div>
    </div><br>
    <hr>
    <div>
        <div>
            <h3>2. DC Supply parameter</h3>
        </div>
        <div>
            <b>2.1 System Voltage: </b>
            <u>{{sitevisit.dcsupply.system_voltage}}</u> Volt
        </div>
        <div>
            <b>2.2 Load Current_1: </b>
            <u>{{sitevisit.dcsupply.load_current_1}}</u> Amp
        </div>
        <div>
            <b>2.3 Load Current_2: </b>
            <u>{{sitevisit.dcsupply.load_current_2}}</u> Amp
        </div>
        <div>
            <b>2.4 Load Current_3: </b>
            <u>{{sitevisit.dcsupply.load_current_3}}</u> Amp
        </div>
        <div>
            <b>2.5 Load Current_4: </b>
            <u>{{sitevisit.dcsupply.load_current_4}}</u> Amp
        </div>
    </div><br>
    <hr>
    <br><br>
    <div>
        <div>
            <h3>3. Site Dimension Detail</h3>
        </div>
        <div>
            <h4><u>Site Dimension</u></h4>
            <div>
                <b>Front side (Gate side):</b>
                {{sitevisit.dimension.front_side}} meter
            </div>
            <div>
                <b>Right Side (When facing the gate from outside the site):</b>
                {{sitevisit.dimension.right_side}} meter
            </div>
            <div>
                <b>Back Side (opposite the gate side):</b>
                {{sitevisit.dimension.back_side}} meter
            </div>
            <div>
                <b>Left Side (When facing the gate from outside the site):</b>
                {{sitevisit.dimension.left_side}} meter
            </div>
        </div>
        <div>
            <h4><u>Available space around the tower</u></h4>
            <div>
                <b>Distance from tower Leg/face or monopole to front side of fence:</b>
                {{sitevisit.dimension.distance_tower_front}} meter
            </div>
            <div>
                <b>Distance from tower Leg/face or monopole to Right side of fence:</b>
                {{sitevisit.dimension.distance_tower_right}} meter
            </div>
            <div>
                <b>Distance from tower Leg/face or monopole to Back side of fence:</b>
                {{sitevisit.dimension.distance_tower_back}} meter
            </div>
            <div>
                <b>Distance from tower Leg/face or monopole to Left side of fence:</b>
                {{sitevisit.dimension.distance_tower_left}} meter
            </div>
        </div>
        <div>
            <h4><u>Propose location for Solar shed (Option_1)</u></h4>
            <div>
                <b>Length of Side_A:</b>
                {{sitevisit.dimension.length_side_A_option_1}} meter
            </div>
            <div>
                <b>Length of Side_B:</b>
                {{sitevisit.dimension.length_side_B_option_1}} meter
            </div>
            <div>
                <b>Length of Side_C:</b>
                {{sitevisit.dimension.length_side_C_option_1}} meter
            </div>
            <div>
                <b>Length of Side_D:</b>
                {{sitevisit.dimension.length_side_D_option_1}} meter
            </div>
        </div>
        <div>
            <h4><u>Propose location for Solar shed (Option_2) </u>(<em>Optional</em>)</h4>
            <div>
                <b>Length of Side_A:</b>
                {{sitevisit.dimension.length_side_A_option_2}} meter
            </div>
            <div>
                <b>Length of Side_B:</b>
                {{sitevisit.dimension.length_side_B_option_2}} meter
            </div>
            <div>
                <b>Length of Side_C:</b>
                {{sitevisit.dimension.length_side_C_option_2}} meter
            </div>
            <div>
                <b>Length of Side_D:</b>
                {{sitevisit.dimension.length_side_D_option_2}} meter
            </div>
        </div>
    </div><br>
    <hr>
    <div>
        <div>
            <h3>4. Geographical information</h3>
        </div>
        <div>
            <div>
                <b>Sketch block diagram of site layout:</b>
                <div>
                    <img src="{{sitevisit.geography.sketch_1.url}}" alt="" height="260" width="260"><br>
                </div>
            </div><br><br>
            <div>
                <b>Site tower and its shade at every 20 minutes for 2 hours Plot:</b>
                <div>
                    <img src="{{sitevisit.geography.sketch_2.url}}" alt="" height="245" width="245"><br>
                </div>
            </div><br>
            <div>
                <b> Your prefered PV shed location on the site sketch:</b>
                <div>
                    <img src="{{sitevisit.geography.sketch_3.url}}" alt="" height="245" width="245"><br>
                </div>
            </div><br>
            <div>
                <b>Locality map ofthe location indicating available roads and any major land marks sketch:</b>
                <div>
                    <img src="{{sitevisit.geography.sketch_4.url}}" alt="" height="245" width="245">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <h3>5. Supporting images</h3>
        </div>
        <div>
            {% for extra_img in extra_imgs %}
            <div>
                <b>{{extra_img.supporting_images_caption}}:</b>
                <div>
                    <img src="{{extra_img.supporting_images.url}}" alt="" height="245" width="245"><br>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div><br>
</body>

</html>